body{
    position: relative;
    margin: 5px;
}

.grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 250px 1150px;
    row-gap: 1.6em;
}

.header { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 173, 173);
    grid-column: 1 / -1;
    padding-bottom: 20px;
    grid-row: 1;
} 
 .header div{
    text-align: center;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px 100px;
}

.sidebar {
    background-color: rgb(230, 230, 230);
    float: left;
    grid-column: 1;
    grid-row: 2;
    margin: 0 20px 0 300px;
    padding-left: 10px;
}

 .content {
    float: right;
    grid-column: 2 / 4;
    margin: -20px 300px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px  430px  330px  200px;
}

.biography{
    grid-row: 1;
}

.experience{
    grid-row: 2;
}

.education{
    grid-row: 3;
}

.skills{
    grid-row: 4;
}


.words{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em; 
    word-spacing: 2px;
    line-height: 25px;
}

.proPic {
    width: 230px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 0 0 15px;
} 

.experience, .education{
    display: flex;
    flex-direction: column;
}

.yr{
    float: left;
    width: 20%;
}

.sdy{
    float: right;
    display: flex;
    flex-direction: column;

    width: 80%;
}

.exeItem, .eduItem{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

ul{
    list-style-type: none;
    columns: 2;
    float: center;
}

li{
    padding: 3px 0;
}

li:before{
    content: "•";
}

hr{
    border-top:  3px solid lightgrey;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.sidebar hr{
    border-top: 3px solid #4f4d4d;
    margin-right: 10px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

h3{
    font-size: 1.1em;
}


.icons{
    width: 21px;
    height: 21px;
    float: left;
    margin-right: 5px;
}

.info{
    margin: 5px;
}

.contact, .social{
    display: flex;
    flex-direction: column;
}